{% extends "package/resource_edit_base.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ h.dataset_display_name(pkg) }} - {{ h.resource_display_name(res) }}{% endblock %}

{% block primary_content_inner %}

  {% set action = h.url_for(controller='ckanext.csvmetadata.plugin:ResourceCSVController', action='resource_csv', id=pkg.name, resource_id=res.id) %}
  {% set show_table = true %}
  {% set form_fields = schema["form_fields"] %}
  
  <form method="post" action="{{ action }}" >
  {% for csv_header in csv_headers %}
      {% set csv_header_index = loop.index0 %}
      {% for form_field in form_fields %}
          {% set element_type = form_field["preset"] %}
          {% if form_field["name"] == "name" %}
              {% set value=csv_header %}
          {% else %}
              {% set value="" %}
          {% endif %}
          {% set label = form_field["label"]["lv"] %}
          {% set required = form_field["required"] %}
          {% set element_id = "{}-{}".format(csv_header_index, form_field["name"]) %}
          {% if form_field["disabled"] %}
              {% set attrs={"disabled":""} %}
          {% else %}
              {% set attrs={} %}
          {% endif %}    
          {% if element_type in ["textarea", "input"] %}
              {% call form[element_type](name=element_id, id=element_id, label=label, value=value, is_required=required, attrs=attrs) %} {% endcall %}
          {% elif element_type == "select" %}
              {# {% set selected=form_field["selected"] %} #}              
              {% set selected="string" %} 
              {% call form[element_type](name=element_id, id=element_id, label=label, options=form_field["choices"], selected=selected, is_required=required, attrs=attrs) %} {% endcall %}
          {% else %}
              {% call form[element_type](name=element_id, id=element_id, label=label, is_required=required, attrs=attrs) %} {% endcall %}
          {% endif %}
      {% endfor %}
      <hr>
  {% endfor %}
    <button class="btn btn-primary" name="save" type="submit">
      <i class="fa fa-cloud-upload"></i> 'Upload your CSVs' 
    </button>
  </form>

  {#  {% if status.error and status.error.message %}
    {% set show_table = false %}
    <div class="alert alert-error">
      <strong>{{ _('Upload error:') }}</strong> {{ status.error.message }}
    </div>
  {% elif status.task_info and status.task_info.error %}
    <div class="alert alert-error">
      {% if status.task_info.error is string %}
        <strong>{{ _('Error:') }}</strong> {{ status.task_info.error }}
         {% elif status.task_info.error is mapping %}
        <strong>{{ _('Error:') }}</strong> {{ status.task_info.error.message }}
        {% for error_key, error_value in status.task_info.error.iteritems() %}
          {% if error_key != "message" and error_value %}
            <br>
            <strong>{{ error_key }}</strong>:
            {{ error_value }}
          {% endif %}
        {% endfor %}
      {% elif status.task_info.error is iterable %}
        <strong>{{ _('Error traceback:') }}</strong>
        <pre>{{ ''.join(status.task_info.error) }}</pre>
      {% endif %}
    </div>
  {% endif %} #}

  {#  <table class="table table-bordered">
    <colgroup>
      <col width="150">
      <col>
    </colgroup>
    <tr>
      <th>{{ _('Status') }}</th>
      <td>{{ h.datapusher_status_description(status) }}</td>
    </tr>
    <tr>
      <th>{{ _('Last updated') }}</th>
      {% if status.status %}
        <td><span class="date" title="{{ h.render_datetime(status.last_updated, with_hours=True) }}">{{ h.time_ago_from_timestamp(status.last_updated) }}</span></td>
      {% else %}
        <td>{{ _('Never') }}</td>
      {% endif %}
    </tr>
  </table> #}

  {#  {% if status.status and status.task_info and show_table %}
    <h3>{{ _('Upload Log') }}</h3>
    <ul class="activity">
      {% for item in status.task_info.logs %}
        {% set icon = 'ok' if item.level == 'INFO' else 'exclamation' %}
        {% set class = ' failure' if icon == 'exclamation' else ' success' %}
        {% set popover_content = 'test' %}
        <li class="item no-avatar{{ class }}">
          <i class="fa icon fa-{{ icon }}"></i>
          <p>
            {{ item.message | urlize }}<br>
            <span class="date" title="{{ h.render_datetime(item.timestamp, with_hours=True) }}">
              {{ h.time_ago_from_timestamp(item.timestamp) }}
              <a href="#" data-target="popover" data-content="<dl>{% for key, value in item.iteritems() %}<dt>{{ key }}</dt><dd>{{ value }}</dd>{% endfor %}</dl>" data-html="true">{{ _('Details') }}</a>
            </span>
          </p>
        </li>
      {% endfor %}
      <li class="item no-avatar">
        <i class="fa icon fa-info"></i>
        <p class="muted">{{ _('End of log') }}</p>
      </li>
    </ul>
  {% endif %} #}

{% endblock %}
