{% extends "package/resource_edit_base.html" %}
{% import 'csvmetadata/form.html' as form %}
{% import 'macros/form.html' as ckan_form %}

{% block subtitle %}{{ _("CSV metadata") }} - {{ h.resource_display_name(res) }}{% endblock %}

{% block primary_content_inner %}

  {% set action = h.url_for(controller='ckanext.csvmetadata.plugin:ResourceCSVController', action='resource_csv', id=pkg.name, resource_id=res.id) %}
  {% set show_table = true %}
  {% set form_fields = schema["form_fields"] %}

  {% if status != "ok" %}
    {% if status == "url_fail" %}
      <h1> {{ _("Can't download source file!") }} </h1> 
      <h3> {{ _("Check resource URL and try again") }} </h3>
    {% elif status == "not_csv" %}
      <h1> {{ _("Wrong file format or internal structure!") }} </h1> 
      <h3> {{ _("'CSV metadata' extension works with CSV files") }} </h3>
    {% elif status.startswith("http_error_") %}
      {% set error_code=status[11:] %}
      <h1> {{ _("HTTP error while downloading resource, code:") }} {{error_code}} </h1>
    {% endif %}

  {% else %}
  <form method="post" action="{{ action }}" data-module="csvmetadata-required" >
  {{ ckan_form.checkbox(name="csv_has_headers", id="csv_has_headers", label="CSV dati satur kolonu virsrakstus", attrs={"data-module":"csvmetadata", "checked":""}) }}
  {# str() function seems to be unavailable for templates #}
  {{ form.hidden("csv_headers", csv_headers.__str__()) }}
  {{ form.hidden("csv_info", csv_info) }}
  <hr>
  {% for csv_header in csv_headers %}
      <table>
      {% set csv_header_index = loop.index0 %}
      {% set col_index = loop.index %}
      {% for form_field in form_fields %}
          {% set element_type = form_field["preset"] %}
          {% set label = h.csvmetadata_language_text(form_field["label"]) %}
          {% set help_text = h.csvmetadata_language_text(form_field["help_text"]) %}
          {% set required = form_field["required"] %}
          {% set element_id = "{}-{}".format(csv_header_index, form_field["name"]) %}
          {% set attrs = {} %}
          {% set selected="" %}
          {% set value="" %}
          {% if form_field["disabled"] %}
              {% set x = attrs.__setitem__("readonly", "") %}
          {% endif %}    
          {% if required %}
              {% set x = attrs.__setitem__("data-required", "true") %}
          {% endif %}    
          {% if form_field["name"] == "foreignKeys" %}
              {% set x = attrs.__setitem__("data-module", "csvmetadata-foreignkey") %}
              {% set x = attrs.__setitem__("data-foreignkey-id", csv_header_index) %}
          {% elif form_field["name"] in ["resource", "columnReference"] %}
              {% set x = attrs.__setitem__("data-foreignkey", csv_header_index) %}
          {% endif %}
          {% if element_id in values %}
              {% set value=values[element_id] %}
              {% if element_type == "checkbox" %}
                  {# hack because jinja cannot into updating dictionaries #}
                  {% set x = attrs.__setitem__("checked", "") %}
              {% elif element_type == "select" %}
                  {% set selected=value %} 
              {% elif form_field["name"] == "name" %}
                  {% set x = attrs.__setitem__("data-is-name", "true") %}
                  {% set x = attrs.__setitem__("data-header-value", value) %}
                  {% set x = attrs.__setitem__("data-default-value", "col{}".format(col_index)) %}
              {% endif %}
          {% else %}
              {% if form_field["name"] == "name" %}
                  {% set value=csv_header %}
                  {% set x = attrs.__setitem__("data-is-name", "true") %}
                  {% set x = attrs.__setitem__("data-header-value", value) %}
                  {% set x = attrs.__setitem__("data-default-value", "col{}".format(col_index)) %}
              {% elif form_field["datatype"] == "datatype" %}
                  {% set value="" %}
                  {% set selected="string" %}
              {% else %}
                  {% set value="" %}
                  {% set selected="" %}
              {% endif %}
          {% endif %}
          <tr>
          {% if element_type in ["textarea", "input"] %}
              {% call form[element_type](name=element_id, label=label, value=value, is_required=required, attrs=attrs, help_text=help_text) %} {% endcall %}
          {% elif element_type == "select" %}
              {% call form[element_type](name=element_id, label=label, options=form_field["choices"], selected=selected, is_required=required, attrs=attrs, help_text=help_text) %} {% endcall %}
          {% else %}
              {% call form[element_type](name=element_id, label=label, is_required=required, attrs=attrs, help_text=help_text) %} {% endcall %}
          {% endif %}
          </tr>
      {% endfor %}
      </table>
      <hr><br>
  {% endfor %}
    <button class="btn btn-primary" style="display: block;margin-left: auto;margin-right: 10px;" type="submit">{{_("Save metadata")}}</button>
  </form>

  {% endif %}

{% endblock %}
 
{% block scripts %}
{{ super() }}
{% resource 'csvmetadata/csvmetadata.js' %}
{% resource 'csvmetadata/csvmetadata_required.js' %}
{% resource 'csvmetadata/csvmetadata_foreignkey.js' %}
{% endblock %}
